@model Avanade.AllocationMonitor.MVC.Models.EmployeeCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<div>
    <h1><i class="fas fa-users fa-2x"></i>    Creazione nuovo dipendente</h1>
    <a asp-action="Annulla"><i class="fas fa-redo align-content-end fa-2x"></i></a>
</div>


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cognome" class="control-label"></label>
                <input asp-for="Cognome" class="form-control" />
                <span asp-validation-for="Cognome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataNascita" class="control-label"></label>
                <input asp-for="DataNascita" class="form-control" />
                <span asp-validation-for="DataNascita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataInizioProfessione" class="control-label"></label>
                <input asp-for="DataInizioProfessione" class="form-control" />
                <span asp-validation-for="DataInizioProfessione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mansione" class="control-label"></label>
                @Html.DropDownListFor(model => model.Mansione, ViewBag.Mansioni as List<SelectListItem>,
                "---Seleziona una mansione---", new { @class = "form-control", required = "required" })
                <span asp-validation-for="Mansione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostoOrario" class="control-label"></label>
                <input asp-for="CostoOrario" class="form-control" />
                <span asp-validation-for="CostoOrario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crea" class="btn btn-primary" />
                <a asp-controller="Employee" asp-action="Annulla" class="btn btn-primary">Annulla</a>
            </div>
        </form>
        
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
