@model Avanade.AllocationMonitor.MVC.Models.EmployeeDetailsViewModel

@{
    ViewData["Title"] = "Delete";
}

<div class="d-inline-flex">
    <h1><i class="fas fa-users fa-2x float-left"></i>    Eliminazione di @Model.NomeCompleto</h1>
    @*<a asp-action="Annulla"><i class="fas fa-redo align-content-end fa-2x float-right"></i></a>*@
    
</div>

<div class="border">
    <br />
    <br />
    <h1 class="text-center"><i class="fas fa-exclamation-triangle fa-2x"></i>  Attenzione!</h1>
    <br />
    <br />
    <p class="text-center">
        Questa operazione eseguirà la rimozione del record corrente dal database applicativo. L'operazione non può essere in nessun modo annullata e i dati non
        saranno più recuperabili. Sei veramente sicuro di voler procedere?

    </p>
    <br />
    <br />
   
    <center>
        <form asp-action="Delete" class="m-5">
            <input margin="10" type="submit" value="Elimina" class="btn btn-danger" />
            <a asp-controller="Employee" asp-action="Annulla" class="btn btn-primary">Annulla</a>
        </form>
    </center>
    
</div>
